// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
*:focus{
  outline: 0;
}
input, textarea{
  padding: 5px 10px;
  margin: 5px 0;
  border: solid 1px #000;
  width: 75%;
  background: none;
  font-family: $mainFont;

  &:focus{
    outline: 0;
    border-color: $brand-primary;
  }
}
.ajax-loader{
  clear: both;
  display: block;
}
form{
  *{
    margin: 5px auto !important;
  }
}
