// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Background Color
$background-color: #eeeeee;

// Text Color
$text-color: #333333;

// Link, and Hover Effect Color
$brand-primary: #44bd6e;

// Footer Color
$footer-color: #fff;

// Default Font Make sure fallback is included  (aka. serif, sans-serif, etc.) so that you don't have invisible fonts until the preferred on loads.
//$mainFont: "proxima-nova",sans-serif;
$mainFont: "kepler-std-display", "georgia",sans-serif;

$paragraphFont: "kepler-std-semicondensed",serif;

// This is the width of the content, default is 80%.  Lower % gives you a narrower layout.
$maxWidth: 80%;

// All Dropshadows pull from this.
$shadow: 0 0px 12px rgba(0,0,0,0.16), 0 0px 12px rgba(0,0,0,0.23);
$transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
