// Header Navigation

.current-menu-item{
  a{
    background-color: set-color($footer-color, 15%);

    &:hover{
      background-color: set-color($footer-color, 20%);
    }
  }
}

header{
  width: 100%;
  background: $footer-color;
  margin-bottom: 40px;
  z-index: 9999;
  position: fixed;
  top: 0;

  .container{
    position: relative;
    height: 100%;

    .menuToggle{
      cursor: pointer;
      color: set-color($background-color, 50%);
      position: relative;
      top: 22px;
      right: 5px;
      float: right;
      padding: 0 15px 45px 15px;
      line-height: 0;
      font-size: 18px;
      font-variant: small-caps;
      display: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* IE/Edge */
      user-select: none;           /* non-prefixed version, currently
                                      not supported by any browser */

      &:before, &:after{
        transition: 0.25s;
        width: 40px;
        height: 5px;
        border-radius: 3px;
        background-color: set-color($background-color, 50%);
        left: 15px;
        content: '';
        position: absolute;
      }

      &:before{
        top: 20px;
      }

      &:after{
        top: 30px;
      }

      &.active{
        &:before, &:after{
          top: 25px;
          left: 22px;
          width: 25px;
        }
        &:before{
          transform: rotate(45deg);
        }

        &:after{
          transform: rotate(-45deg);
        }
      }
    }

    .brand{
      float: left;
      text-indent: -9999px;
      color: #fff;
      font-size: 18px;
      line-height: 4.45em;
      height: 100%;
      width: 100%;
      max-width: 25%;
      display: block;
      background: url('http://placehold.it/285x80.png/fff/000') no-repeat;
      background-size: contain;
      background-position: center;
      text-align: center;
    }

    .nav-primary{
      float: right;
      height: 100%;
      width: 75%;

      .menu-main-nav-container{
        height: 100%;

        ul{
          height: 100%;
          display: flex;

          li{
            float: left;
            position: relative;
            flex-grow: 1;
            width: 100px;
            height: 100%;
            margin: 0;
            max-width: 150px;
            display: table;

            &.menu-item-has-children{
              &:after{
                content: '\f0d7';
                font: normal normal normal 14px/1 FontAwesome;
                width: 25px;
                height: 25px;
                position: absolute;
                top: 50%;
                margin-top: -8px;
                right: 0;
              }
            }

            &:hover{

              .sub-menu{
                display: block;
              }
            }

            a{
              display: table-cell;
              padding: 0 5px;
              text-decoration: none;
              width: 100%;
              position: relative;
              text-align: center;
              box-sizing: border-box;
              transition: 0.25s;
              color: set-color($footer-color, 55%);
              height: 100%;
              font-size: 16px;
              font-family: $paragraphFont;
              vertical-align: middle;

              &:hover{
                background-color: set-color($footer-color, 5%);
              }
            }

            .sub-menu{
              display: none;
              padding-left: 0;
              list-style-type: none;
              position: absolute;
              left: 0;
              bottom: -100px;

              li{
                width: 100%;
                max-width: 100%;
                height: auto;
                margin: 2px;

                a{
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
